
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script>
    <!-- this part is important! -->
    $(document).ready(function () {
        $(".button-collapse").sidenav();
    });
</script>

<header class="navbar-fixed">

  <nav class=" green darken-3">
    <div class="container nav-wrapper">
      <%= link_to "X-Shop" , root_path, class: "brand-logo" %>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

      <ul class="right hide-on-med-and-down">
        <li><%= link_to "New item", new_item_path %></li>
        <li><%= link_to "Items", items_path  %></li>
        <li><%= link_to "About" , about_path %></li>


        <% if user_signed_in? %>
          <li><%= link_to "Logout" , destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Login" , new_user_session_path %></li>
          <li><%= link_to "Registrati" , new_user_registration_path %></li>
        <% end  %>
      </ul>

    </div>
  </nav>

</header>
<ul class="sidenav" id="mobile-demo">
  <li><%= link_to "New item", new_item_path %></li>
  <li><%= link_to "Items", items_path  %></li>
  <li><%= link_to "About" , about_path %></li>


  <% if user_signed_in? %>
    <li><%= link_to "Logout" , destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to "Login" , new_user_session_path %></li>
    <li><%= link_to "Registrati" , new_user_registration_path %></li>
  <% end  %>

</ul>



